@media (max-width:600px) {


    #nav {
        height: 60px;
        padding: 0 4vw;
    }


    #nav>h1 {
        width: 35%;
        font-size: 6.6vw;
    }

    #nav h1::after {
        display: none;
    }

    #nav h1::before {
        display: none;
    }


    #nav h2 {
        display: none;
    }

    #nav h3 {
        display: initial;
    }

    #center {
        height: 35%;
    }


    #overlay {
        height: 38%;
    }

    #over1 h1 {
        font-size: 4.8vw;
        line-height: 5.8vw;
    }


    #over1 h2 {
        font-size: 14px;
        width: 45px;
        height: 45px;
    }


    #over2 {
        margin-top: 10px;
    }

    #over2 h4 {
        font-size: 14px;
    }

    #over2 img {
        width: 30px;
    }

    #scroll {
        width: 100%;
        height: 15vh;
    }

    .container {
        width: 150%;
        height: 100%;
    }

    .container img {
        width: 80px;
        height: 80px;
    }



    #alphabet {
        height: 6vh;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        overflow-x: scroll;
        padding: 0 4vw;
        justify-content: flex-start;
    }

    #alphabet::-webkit-scrollbar {
        display: none;
    }

    #alphabet h5 {
        font-size: 4.5vw;
    }

    #alphabet h6 {
        font-size: 3vw;
    }

    #page2 {
        width: 100%;
        height: 30%;
        padding: 6vw 4vw;
    }


    #left-part h2 {
        margin-top: 0px;
    }


    #page2 #right-part div {
        padding-top: 0;
    }

    #page2 #right-part div h2 {
        width: 18vw;
        font-size: 2.5vw;
        line-height: 2.8vw;
        font-weight: 600;
    }

    #page2 #right-part div p {
        width: 40%;
        font-size: 6px;
        line-height: 2vw;
    }

    #page3 {
        height: 30%;
        padding: 6vw 4vw;
    }

    #page3 #left {
        padding: 4vw 2vw;
    }

    #page3 #left #rounded-text {
        height: 60%;
        margin-top: 20px;
        z-index: -1;

    }

    #page3 #left h2 {
        font-size: 2.4vw;
    }

    #page4 {
        height: 30%;
        padding: 4vw;
    }


    #page5 {
        height: 35%;
        padding: 6vw 4vw;
    }

    #page5>h1 {
        font-size: 4.5vw;
        margin-bottom: 30px;
    }

    .elem {
        height: 20%;
        border-top: 1.5px solid black;
        padding: 0 8vw;
    }


    .elem:nth-child(5) {
        border-bottom: 1.5px solid black;
    }

    .elem>h4 {
        font-size: 2.6vw;
    }

    .heading {
        width: 50%;
    }

    .elem .heading>h1 {
        font-size: 4vw;
    }

    .elem .heading>h5 {
        font-size: 8px;
    }

    .elem img {

        display: none;
    }

    #page6 {
        height: 30%;
        padding: 4vw;
    }

    #page6-left {
        width: 40%;
        background-position: right;
    }

    #page6-right {
        width: 55%;
        gap: 1.8vw;
    }

    #page6-right h1 {
        font-size: 3.5vw;
    }

    #page6-right h3 {
        font-size: 2.5vw;
        width: 90%;
    }

    #page6-right p {
        font-size: 2.2vw;
    }


    #page6-right #img-container #left-img {
        background-position: center;

    }

    #page6-right #img-container #right-img {
        background-position: 0 0;
    }

    #page7 {
        height: 30%;
        padding: 6vw 4vw;
    }

    #page7 img {
        object-position: 0 60%;
    }

    #page8 {
        height: 30%;
        padding: 4vw;

    }

    #page8-right #txt-box h2 {
        font-size: 2.2vw;
        width: 50%;
        line-height: 3vw;
        margin-top: 5px;
    }

    #page8-right #txt-box p {
        width: 45%;
        margin-top: 5px;
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 2vw;
    }

    #text-move {
        height: 8%;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
    }
    
    #text-move>h1 {
        font-size: 10vw;
        margin: 12px 0;
        -webkit-text-stroke: 1.5px black;
    }

    #page9 {
        height: 30%;
        padding: 8vw 4vw;
    }
    
    #page9 h1 {
        font-size: 4.2vw;
    }
        
    .text-part p {
        font-size: 2.4vw;
        line-height: 2.8vw;
    }
    
    .text-part p::before {
        content: "B";
        padding: 2px 5px;
        border: 1px solid black;
        font-size: 10px;
        margin-right: 8px;
    }
    
    .text-part img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        object-position: top;
    }

    #footer {
        height: 10%;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    
    #footer h1 {
        width: fit-content;
        height: fit-content;
        font-size: 6.5vw;
        margin-top: 0px;
        margin-left: 0;
    }
    
    #footer h1::after {
       display: none;    
    }
    
    #footer h1::before {
        display: none;
    }
    
    
    #footer>h2 {
        display: none;
    }
    
    
    #foot-div {
        width: 100%;
    }
    
    #foot-div h2 {
        display: none;
    }
    
    #footin-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        border-top: 0;
        padding: 0;
        gap: 5px;
    }
    
    #footin-div ul {
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 0;
    
    }
    
    #footin-div ul li {
        list-style: none;
    }
    
    #footin-div ul li i{
        font-size: 3.8vw;
    }

    #footin-div h4{
        font-size: 3vw;
    }

    #footin-div h4:nth-child(3){
        display: none;
    }


}