* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F9F7F9;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #F9F7F9;
    position: relative;
    padding: 0.1px;
}

#nav {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;

}


#nav>h1 {
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-family: monument;
    letter-spacing: -2px;
    position: relative;
}

#nav h1::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url('./images/copyright.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: -5px;

}

#nav h1::before {
    content: "model management";
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 12px;
    letter-spacing: normal;
    font-weight: 600;
    color: rgb(79, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
}


#nav h2 {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    border-right: 2px solid black;
}

#nav h2:nth-child(5) {
    padding-right: 80px;
    width: 12%;
    border-right: none;
}

#nav h3{
    display: none;
}

#center {
    width: 100%;
    height: 84%;
    padding: 4vw;
    position: relative;
}

#video-content {
    width: 100%;
    height: 100%;
    position: relative;
}

#video-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 4vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#over1 h1 {
    font-size: 3.2vw;
    line-height: 3.5vw;
    font-family: monument;
    color: #fff;
}


#over1 h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 100;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
}


#over2 {
    margin-top: 30px;
    border-top: 1.5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#over2 h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

#over2 img {
    width: 40px;
    margin-top: 10px;
}

#scroll {
    width: 100%;
    height: 30vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

#scroll::-webkit-scrollbar {
    display: none;
}

.container {
    display: inline-block;
    width: 96%;
    height: 100%;
    animation-name: img-scroll-animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.container img {
    width: 170px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 1.1vw;
}

@keyframes img-scroll-animation {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    width: 100%;
    height: 12vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}

#alphabet h5 {
    font-size: 2.2vw;
    font-weight: 500;
    border-bottom: 2px solid black;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 20px;
}

#alphabet h6 {
    font-size: 1.5vw;
    font-weight: 500;
    font-style: italic;
    padding: .3vw .6vw;
    border-radius: 50%;
    border: 1.5px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
}

#alphabet h6:hover {
    border: 1.5px solid rgb(0, 0, 0);
}

#page2 {
    width: 100%;
    height: 100%;
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 #left-part {
    width: 52%;
    height: 100%;
}

#page2 #left-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left-part h2 {
    font-size: 2.8vw;
    font-family: monument;
    text-transform: uppercase;
    margin-top: 10px;
}

#page2 #right-part {
    width: 42%;
    height: 100%;
}

#page2 #right-part img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 50% 20%;
}

#page2 #right-part div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#page2 #right-part div h2 {
    width: 13.5vw;
    font-size: 1.7vw;
    line-height: 2.2vw;
    font-weight: 600;
}

#page2 #right-part div p {
    width: 44%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6vw;
}

#page3 {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3 #left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

#page3 #left #rounded-text {
    width: 100%;
    height: 80%;
    background: url('./images/rotated.png');
    background-position: center;
    background-size: cover;
    transition: all ease 1.8s;
    border-radius: 50%;
}

#page3 #left #rounded-text:hover{
    rotate: 90deg;
    transition: all ease 1.8s;
}

#page3 #left h2 {
    font-size: 1.6vw;
    font-weight: 600;
}

#page3 #right {
    width: 55%;
    height: 100%;
    background: url('./images/max-titov-Mhktr6dFD3I-unsplash.jpg');
    background-size: cover;
    background-position: center;

}

#page4 {
    width: 100%;
    height: 100%;
    padding: 60px;
}

#page4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

#page5 {
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    padding: 40px 60px;
}

#page5>h1 {
    font-size: 3.2vw;
    text-transform: uppercase;
    font-family: monument;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
}

.elem {
    width: 100%;
    height: 22%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18vw 0 60px;
    position: relative;
}

.elem:hover{
    background-color: rgb(239, 236, 236);
}

.elem:nth-child(5) {
    border-bottom: 2px solid black;
}

.elem>h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(64, 59, 59);
}

.heading {
    width: 40%;
}

.elem .heading>h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.elem .heading>h5 {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(64, 61, 61);
    margin-top: 5px;
}

.elem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 35%;
    transition: all ease 1s;
    opacity: 0;
}

.elem:nth-child(2n) img {
    left: 15%;
}

.elem:hover img {
    left: 25%;
    opacity: 1;
}

#page6 {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6-left {
    width: 45%;
    height: 100%;
    background: url('./images/wesley-tingey-4WUwF9jVqMU-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

#page6-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

#page6-right h1 {
    font-size: 2.5vw;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: monument;
    text-transform: uppercase;
}

#page6-right h3 {
    font-size: 1.6vw;
    font-weight: 600;
    width: 55%;
}

#page6-right #img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page6-right #img-container #left-img {
    width: 55%;
    height: 100%;
    background: url('./images/aiman-zenn-CVU_BwsEoJg-unsplash.jpg');
    background-size: cover;
    
}

#page6-right #img-container #right-img {
    width: 40%;
    height: 100%;
    background: url('./images/pedram-normohamadian-m4eG_7i2k3s-unsplash.jpg');
    background-size: cover;
}



#page7 {
    width: 100%;
    height: 100%;
    padding: 60px;
}

#page7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#page8 {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page8-left {
    width: 50%;
    height: 100%;
    background-image: url('./images/dom-hill-nimElTcTNyY-unsplash.jpg');
    background-size: cover;
}

#page8-right {
    width: 45%;
    height: 100%;
}

#page8-right img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: 0 40%;
}

#page8-right #txt-box {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

#page8-right #txt-box h2 {
    font-size: 1.5vw;
    width: 14vw;
    line-height: 2vw;
    margin-top: 30px;
}

#page8-right #txt-box p {
    width: 45%;
    margin-top: 35px;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.5vw;
}

#text-move {
    width: 100%;
    height: 18%;
    white-space: nowrap;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#text-move>h1 {

    display: inline-block;
    letter-spacing: 2px;
    font-size: 5.5vw;
    font-family: monument;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 500;
    margin-right: 16px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#page9 {
    width: 100%;
    height: 90%;
    padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page9 h1 {
    font-size: 3.2vw;
    text-transform: uppercase;
    font-family: monument;
    letter-spacing: 2px;
    height: 100%;
    width: 20%;
}

.text-part {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-part p {
    /* width: 81%; */
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 2.2vw;
}

.text-part p::before {
    content: "B";
    padding: 3px 8px;
    border: 1.5px solid black;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 15px;
}

.text-part img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: top;
}

#footer {
    width: 100%;
    height: 35%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#footer h1 {
    width: 18%;
    height: 100%;
    font-size: 3vw;
    font-family: monument;
    letter-spacing: -2px;
    position: relative;
    margin-top: 20px;
    margin-left: 60px;
}

#footer h1::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url('./images/copyright.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 5px;

}

#footer h1::before {
    content: "model management";
    font-size: 12px;
    position: absolute;
    top: 38px;
    right: 25px;
    letter-spacing: normal;
    font-weight: 600;
    color: rgb(79, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
}


#footer>h2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-right: 2px solid black;
    padding-top: 30px;
}


#foot-div {
    width: 40%;
    text-align: left;
}

#foot-div h2 {
    font-size: 18px;
    padding: 30px 60px;
}

#footin-div {
    width: 100%;
    border-top: 2px solid black;
    padding: 20px 60px;
}

#footin-div ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

}

#footin-div ul li {
    list-style: none;
}

#footin-div ul li i{
    font-size: 1.8vw;
    cursor: pointer;
}

#footin-div ul li:nth-child(1):hover{
    color: #8a3ab9;
}

#footin-div ul li:nth-child(2):hover{
    color: gray;
}

#footin-div ul li:nth-child(3):hover{
    color: royalblue;
}

#footin-div ul li:nth-child(4):hover{
    color: crimson;
}

#footin-div ul li:nth-child(5):hover{
    color: royalblue;
}


#footin-div h4 {
    font-size: 14px;
    font-weight: 600;
}

#footin-div h4:hover{
    cursor: pointer;
    color: grey;
}

